MODEL_PATH=path/to/model.pt
SOURCE_SURFACE=0
SOURCE_UNDERWATER=1
IMGSZ=
PUBLISH=false
MEDIAMTX_HOST=127.0.0.1
PROTOCOL=rtsp
MEDIAMTX_PORT=
STREAM_NAME=surface
STREAM_NAME2=underwater
STREAM_FPS=15
BITRATE=800k
HEADLESS=false
